.dropdownContainer {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(166, 166, 166, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
}

.searchInput {
    width: 100% !important;
    padding: 8px;
    height: 5px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: 0px !important;
    border-radius: 5px 5px 0 0 !important;
}

.selectInput {
    width: 100% !important;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: 0px !important;
    border-radius: 0px 0px 5px 5px !important;
}
